.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 17px;
}

textarea {
  width: 90%;
  margin: 0px auto;
  border: none;
  background: transparent;
  color: #e8e8e8;
  padding: 17px !important;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

textarea::placeholder {
  /* padding: 17px */
  font-family: "Ubuntu", sans-serif;
}

textarea:focus {
  outline: none;
  padding: 17px;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* padding: 5px; */
  background: #444444;
  border-radius: 25px;
  /* margin-bottom: 20px; */
  position:fixed;
  bottom: 0;
  margin: 24px auto;
  left: 50%;
  transform: translateX(-50%);
}

.form-button {
  background: transparent;
  border: none;
  color: #e8e8e8;
  padding-left: 10px;
  padding-right: 10px;
}

.src-image {
  border-radius: 25px;
}

video {
  border-radius: 25px;
  width: 90%;
  margin: 0px auto
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 33, 0.274);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  filter: blur(5px);
  backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); /* Safari Support */
}



.screen label {
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 100; /* Ensure text is above the blur layer */
}

.change-send-buttons{
    display: flex;
    flex-direction: row;
    align-items: center
}
